* {
    margin: 0px;
    padding: 0px;
}



.main {
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 100%;
    color: #BBB;
    overflow: scroll;

}

.post {
    position: relative;
    left: 0%;
    right: 0%;
    height: auto;
    overflow: scroll;
    /* transform: translate(-5%, 0%); */
    width: 100%;
    color: #444;
    list-style-type: none;
    background-color: black;
}

.mastHead {
    background-color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: left;
    padding-bottom: 50px;
    color: black;
    position: sticky;
}
